<table class="table">
  <thead>
    <th>Paper Type</th>
    <th>A3</th>
    <th>A4</th>
  </thead>
  <tbody>
    <% PaperType.all.select(:name).distinct.pluck(:name).each do |paper_type| %>
    <tr>
      <td><%= paper_type.titleize %></td>
      <td><%= @customer.papers.quantity_by_type(paper_type, 'A3') %></td>
      <td><%= @customer.papers.quantity_by_type(paper_type, 'A4') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
