
<div class="col-4">
  <h3><%= quantity_by.capitalize %> Paper Collected</h3>
  <table class="table">
    <thead>
      <th>Paper Type</th>
      <th>A4</th>
      <th>A3</th>
    </thead>
    <tbody>
      <% PaperType.all.select(:name).distinct.pluck(:name).each do |name| %>
      <tr>
        <td><%= name.titleize %></td>
        <td><%# @customer.papers.quantity_by_type(name, 'A4', quantity_by) %></td>
        <td><%# @customer.papers.quantity_by_type(name, 'A3', quantity_by) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
