<div class="row">
  <div class="col-5">
    <%= form_tag do %>
      <%= select_tag :customer_id, options_from_collection_for_select(Customer.all, :id, :name), class: 'form-control' %>
    <% end %>
  </div>
</div>
