h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.delete {
  color: #c9302c;
}

.order-details-panel {
  background-color: #f26522;
  color: white;
  padding: 1.5rem;
  min-height: 66vh;
}

.paper-sources-panel {
  background-color: #eceeef;
  padding: 1rem;
}

.paper-source {
  margin-bottom: 0.3rem;
}
